<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/d5ff415d51.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/detailProject.css" />
    <title>Detail Project</title>
  </head>

  <!-- Navbar -->
  <nav>
    <div class="nav-left">
      <ul>
        <li><img src="../assets/img/logo.png" alt="logo-error" /></li>
        <li><a class="nav-link" href="/">Home</a></li>
        <li>
          <a class="nav-link active" href="/myProject">My Project</a>
        </li>
        <li>
          <a class="nav-link" href="/testimonials">Testimonials</a>
        </li>
      </ul>
    </div>

    <div class="nav-right">
      <button type="button" class="btn btn-dark">
        <a href="/contactMe">Contact Me</a>
      </button>
    </div>

    <button id="hamburger-button" onclick="buttonHamburger()">
      <i class="fa-solid fa-bars fa-2x"></i>
    </button>
  </nav>
  <div class="hamburger-bars hide" id="hamburger-bars">
    <div class="countHam">
      <a href="/" class="hamburger">Home</a>
      <a href="/myProject" class="hamburger active">My Project</a>
      <a href="/testimonials" class="hamburger">Testimonials</a>
      <button type="button" class="btn btn-dark">
        <a href="/contactMe" class="hamburger">Contact Me</a>
      </button>
    </div>
  </div>

  <body>
    <div class="countainer">
      <h1>{{projects.projectName}}</h1>
      <div class="cardAtas">
        <img src="{{projects.file}}" />
        <div class="tech">
          <h3>Duration</h3>
          <div>
            <i class="fa-solid fa-calendar-days"></i>
            <label for="">{{projects.startDate}} - {{projects.endDate}}</label>
          </div>
          <div class="duration">
            <i class="fa-solid fa-clock"></i>
            <label for="">{{projects.duration}}</label>
          </div>
          <br />
          <h3>Tecnologies</h3>
          {{#each projects.techbox}}
            <i class="fa-brands {{this}}"></i>
          {{/each}}
        </div>
      </div>

      <p>
        {{projects.description}}
      </p>
    </div>
    <script src="../assets/js/blog.js"></script>
    <script src="../assets/js/nav.js"></script>
  </body>
</html>